@page
@model Exwhyzee.Lojour.Website.Areas.APanel.Pages.Property.UserStatusModel
@{
    Layout = "/Views/Shared/_ClientLayout.cshtml";

}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel ">
            <div class="x_title">
               
            </div>
            <div class="x_content">

                <div class="alert alert-danger">
                    <strong>Note!</strong> Your Account has not been verified as an Agent. 
                </div>
            </div>
        </div>
    </div>
</div>
