@model Exwhyzee.Lojour.Core.Authorization.Users.ApplicationUser

@*<div class="profile clearfix">
    <div class="profile_pic" style="margin-top:17px;">
        @if (Model.ProfileImageUrl != null)
        {
            <img src="@Model.ProfileImageUrl" alt="..." class="profile_img" style="height:60px;width:60px;margin:5px 7px;">
        }
        else
        {
            <img src="/img/icon.png" alt="..." class="profile_img" style="height:60px;width:60px;margin:5px 7px;">

        }
    </div>
    <div class="profile_info" style="bottom:0 !important;">
       
        <h2 style="word-break:break-word !important;bottom:0 !important;">@User.Identity.Name</h2>
    </div>

</div>*@