@page
@model Exwhyzee.Lojour.Web.Areas.GeneralLocation.Pages.Kindred.NewKindredModel
@{
    ViewData["Title"] = "New Kindred";

    Layout = "~/Views/Shared/_APanelLayout.cshtml";
}

<!-- page content -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel table-responsive">
            <div class="x_title">
                <h2>Create Kindred <small></small></h2>


                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <form class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">

                    <div class="row">
                        <!--Raffle Properties-->
                        <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12" asp-for="Data.Name" name="Data.Name" placeholder="Enter name of community" autofocus required="required" type="text">
                                </div>
                            </div>
                       

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">
                                    Community <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control selectpicker" id="selectpicker" asp-for="Data.CommunityId" name="Data.CommunityId" data-live-search="true" asp-items="@(new SelectList(Model.item, "Id", "Name"))">
                                        <option value="" disabled selected>Select the Community</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="button" class="btn btn-primary" asp-route="/Kindred/Index">Cancel</button>
                            <button id="submit" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->
@section scripts{
    <!---->
    <script type="text/javascript">
        $(function () {
            // multiple images prevuiew in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    var filesAmount = input.files.length;
                    if (filesAmount <= 5) {
                        for (i = 0; i < filesAmount; i++) {
                            var reader = new FileReader();
                            reader.onload = function (event) {
                                $($.parseHTML('<img>')).attr('src', event.target.result).attr('width', '100px').attr('height', '100px').attr('margin', '10px').attr('padding', '10px').appendTo(placeToInsertImagePreview);
                            }
                            reader.readAsDataURL(input.files[i]);
                        }
                    } else {
                        window.alert("You cant upload more than 5 images");
                    }
                }
            };
            $('#gallery-photo-add').on('change', function () {
                imagesPreview(this, 'div.gallery');
            });
        });

                //window.onload = function () {
                //    var fileUpload = document.getElementById("gallery-photo-add");
                //    fileUpload.onchange = function () {
                //        if (typeof (FileReader) != "undefined") {
                //            var gallery = document.getElementById("gallery");
                //            gallery.innerHTML = "";
                //            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                //            for (var i = 0; i < fileUpload.files.length; i++) {
                //                var file = fileUpload.files[i];
                //                if (regex.test(file.name.toLowerCase())) {
                //                    var reader = new FileReader();
                //                    reader.onload = function (e) {

                //                        var img = document.createElement("IMG");
                //                        var textbox = document.createElement('input');
                //                        textbox.type = 'text';
                //                        textbox.name = 'tag_line[]';
                //                        textbox.placeholder = 'Enter image tag line';
                //                        img.height = "100";
                //                        img.width = "100";
                //                        img.src = e.target.result;
                //                        gallery.appendChild(img);
                //                        gallery.appendChild(textbox);
                //                    }
                //                    reader.readAsDataURL(file);
                //                } else {
                //                    alert(file.name + " is not a valid image file.");
                //                    gallery.innerHTML = "";
                //                    return false;
                //                }
                //            }
                //        } else {
                //            alert("This browser does not support HTML5 FileReader.");
                //        }
                //    }
                //};
    </script>
}