@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<div id="footer-widgets">
    <div class="dark-overlay" style="border-bottom:1px solid white;">
        <div class="container">
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>
            <aside id="ct_contactinfo-2" class="widget col span_2 widget_ct_contactinfo">
                <div class="widget-inner">

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>

                    <h5>For Sale By Town</h5>
                    <ul class="contact-info" style="margin:0;">
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>
                        <li class=""> <i class="fa fa-arrow-circle-o-right"></i> Lagos (200)</li>

                    </ul>


                </div>
            </aside>


            <div class="clear"></div>
        </div>
    </div>
</div>*@

<div id="footer-widgets">
    <div class="dark-overlay">
        <div class="container">
            <aside id="ct_contactinfo-2" class="widget col span_3 widget_ct_contactinfo">
                <div class="widget-inner">
                    <img class="widget-logo marB30" src="~/img/lojour-logo-web.png" alt="">

                    <p class="marB15">
                        We are the Lojour®, Real Estate Agent recommendation service in the Nigeria. We’ve spent so more time in
                        bring to your notice Lands, Commercial property service apertment and many more, you will be notified
                        of verified and non verified properties.
                    </p>
                    <ul class="contact-info">
                        <li class="company-address">
                            <i class="fa fa-home"></i>
                            www.lojour.com

                        </li>
                        <li class="company-phone">
                            <i class="fa fa-phone"></i> 07060530000
                        </li>
                        <li class="company-email">
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:contact@lojour.com">contact@lojour.com</a>
                        </li>
                    </ul>


                </div>
            </aside>
            @await Component.InvokeAsync("Pages")


            <aside id="ct_social-2" class="widget col span_3 widget_ct_social">
                <h5>Follow Us</h5>        <ul>
                    <li class="dribbble"><a href="#" target="_self"><i class="fa fa-dribbble"></i></a></li>
                    <li class="facebook"><a href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                    <li class="flickr"><a href="#" target="_self"><i class="fa fa-flickr"></i></a></li>
                    <li class="foursquare"><a href="#" target="_self"><i class="fa fa-foursquare"></i></a></li>
                    <li class="github"><a href="#" target="_self"><i class="fa fa-github"></i></a></li>
                    <li class="instagram"><a href="#" target="_self"><i class="fa fa-instagram"></i></a></li>
                    <li class="linkedin"><a href="#" target="_self"><i class="fa fa-linkedin"></i></a></li>
                    <li class="pinterest"><a href="#" target="_self"><i class="fa fa-pinterest"></i></a></li>
                    <li class="skype"><a href="#" target="_self"><i class="fa fa-skype"></i></a></li>
                    <li class="twitter"><a href="#" target="_self"><i class="fa fa-twitter"></i></a></li>
                    <li class="youtube"><a href="#" target="_self"><i class="fa fa-youtube"></i></a></li>
                    <li class="email"><a href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </aside>
            <div class="clear"></div>
        </div>
    </div>
</div>
<footer class="footer muted">
    <div class="container">


        <nav class="left">
            @await Component.InvokeAsync("MutePages")

        </nav>

        <p class="marB0 right">© @DateTime.UtcNow.Year Lojour.com, All Rights Reserved. <a style="color:#ffffff;font-weight:900;" href="http://exwhyzee.ng/">Exwhyzee Technologies </a> <a id="back-to-top" href="#top">Back to top </a></p>
        <div class="clear"></div>

    </div>
</footer>